@use "../vars" as *;

.main-content {
	
	.widget-table {
		background-color: var(--widget-background-primary);
		/*border: 1px solid var(--border-primary);*/
		backdrop-filter: blur(200px);
		margin-top: 2rem;
		margin-bottom: 2rem;
		/* clear: both; */
		padding: 1.5rem 2rem 2rem 2rem;
		position: relative;
		border-radius: 15px;
		box-shadow: var(--widget-box-shadow);
		transition: all 0.3s ease-in-out;

		&.dashboard {
			//clip-path: inset(0 round 15px);
		}

		&:hover {
			background: var(--widget-background-hover);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			border-radius: 15px;
			z-index: -1;
			box-shadow: var(--widget-box-shadow);
			transition: opacity 0.3s ease-in-out;
		}

		&:hover::after {
			opacity: 1;
		}
	}
}

.widget-table {
	.widget-header {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex: 1;
		margin-bottom: .5rem;
		
		.widget-title {
			margin-right: auto;
			width: max-content;
		}
	}

	.widget-button {
		//float: right;
		display: flex;
		flex-flow: row;
		gap: 2rem;

		a {
			color: var(--text-secondary);
			text-decoration: none;
			width: -moz-fit-content;
			width: fit-content;
		}
	}

	.widget-section {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.line {
		height: 1px;
		background: rgba(135, 135, 135, 0.278);
		//margin-top: 0rem;
		//margin-bottom: 2rem;
	}

	.row-button { // for edit/delete items button
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;

		.button-wrap {
			border-radius: 15px;
			box-shadow: var(--widget-box-shadow);
			padding: 0.5rem;
			transition: all 0.3s ease-in-out;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				border-radius: 15px;
				z-index: -1;
				box-shadow: var(--widget-box-shadow);
				transition: opacity 0.3s ease-in-out;
			}

			&:hover {
				background: var(--widget-background-hover);
				color: var(--category-color);
	
				&::after {
					opacity: 1;
				}
			}
		}
	}

	/*.button-wrap {
		border-radius: 15px;
		box-shadow: var(--widget-box-shadow);
		padding: 0.5rem;
		transition: all 0.3s ease-in-out;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			border-radius: 15px;
			z-index: -1;
			box-shadow: var(--widget-box-shadow);
			transition: opacity 0.3s ease-in-out;
		}

		&:hover {
			background: var(--widget-background-hover);
			color: var(--category-color);

			&::after {
				opacity: 1;
			}
		}

		.icon {
			height: 1.5rem;
			width: 1.5rem;
		}
	}*/

	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}

	h2 {
		line-height: 3rem;
		//font-weight: 700;
		//letter-spacing: .05rem;
		//margin-bottom: 1rem;
	}

	h3 {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-weight: 600;
	}

	h4 {
		margin-bottom: 1rem;
	}

	svg, .svg {
		display: none;
		position: absolute;
		right: 0;
		top: 30%;
		height: 10rem;
		width: 10rem;
		opacity: 0.3;
		//background: transparent;
		//color: rgba(0, 0, 0, 0.2);
	}

	details {
		padding: 1rem;
		&>summary {
			font: var(--type-heading-h4);
			font-weight: 600;
			cursor: pointer;
			&::-webkit-details-marker {
				display: none;
			}
		}
	}

	.widget-footer {
		margin-top: 1.5rem;
		
		.widget-footer-button {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			gap: 2rem;

			.button-wrap {
				border-radius: 15px;
				box-shadow: var(--widget-box-shadow);
				padding: 0.5rem 2rem;
				transition: all 0.3s ease-in-out;
				font-size: calc(100% + 2px);
	
				&::after:not(:disabled) {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					border-radius: 15px;
					z-index: -1;
					box-shadow: var(--widget-box-shadow);
					transition: opacity 0.3s ease-in-out;
				}
	
				&:hover:not(:disabled) {
					background: var(--widget-background-hover);
					//color: var(--category-color);
		
					&::after:not(:disabled) {
						opacity: 1;
					}
				}
			}
		}
	}
}

.widget-information {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	padding-top: 2rem;

	.widget-table {
		margin: 0;

		p + h2, h2 + p {
			margin-top: 2rem;
		}

		&:nth-of-type(1) {
			background: var(--widget-background-blue-70);
			grid-row: 1 / 3;
		}

		&:nth-of-type(2) {
			background: var(--widget-background-blue-60);
		}

		&:nth-of-type(3) {
			background: var(--widget-background-blue-40);
		}

		&:nth-of-type(4) {
			background: var(--widget-background-blue-30);
		}
	}

	.status-approved {
		background: var(--widget-background-green);
		box-shadow: 0px 10px 20px 0px rgba(6,214,160,0.6);

		&:hover {
			background: var(--widget-background-green);
		}
	}

	.status-waiting {
		background: var(--widget-background-yellow);
		box-shadow: 0px 10px 20px 0px rgba(255,209,102,0.6);

		&:hover {
			background: var(--widget-background-yellow);
		}
	}

	.status-disapproved {
		background: var(--widget-background-red);
		box-shadow: 0px 10px 20px 0px rgba(239,77,111,0.6);

		&:hover {
			background: var(--widget-background-red);
		}
	}

}

/* === Numeric data === */

.widget .num {
	//float: right;
	display: inline-block;
	text-align: center;
	margin: 8px 8px 0 0;
	font-size: 11px;
}

.widget .num span {
	margin-right: 10px;
}

.widget .num a {
	background: url(../images/ui/numDataBg.png) repeat-x;
	height: 19px;
	padding: 2px 5px;
	color: #fefefe;
}

.widget .num a.blueNum {
	background-position: 0 -114px;
	border: 1px solid #4b8bc4;
}

.widget .num a.blueNum:hover {
	background-position: 0 -133px;
}

.widget .num a.blueNum:active {
	background-position: 0 -152px;
}

.widget .num a.redNum {
	background-position: 0 -171px;
	border: 1px solid #c83e3e;
}

.widget .num a.redNum:hover {
	background-position: 0 -190px;
}

.widget .num a.redNum:active {
	background-position: 0 -209px;
}

.widget .num a.greenNum {
	background-position: 0 0;
	border: 1px solid #84b550;
}

.widget .num a.greenNum:hover {
	background-position: 0 -19px;
}

.widget .num a.greenNum:active {
	background-position: 0 -38px;
}

.widget .num a.greyishNum {
	background-position: 0 -57px;
	border: 1px solid #587787;
}

.widget .num a.greyishNum:hover {
	background-position: 0 -76px;
}

.widget .num a.greyishNum:active {
	background-position: 0 -95px;
}

.widget .num a.greyNum {
	background-position: 0 -228px;
	border: 1px solid #585858;
}

.widget .num a.greyNum:hover {
	background-position: 0 -247px;
}

.widget .num a.greyNum:active {
	background-position: 0 -266px;
}

/* Tables
================================================== */

/* ===== Static table ===== */

.sTable {
	margin-top: 1rem;

	.item-name {
		font-size: calc(100% + 3px);
	}

	tbody tr {
		border-top: 1px solid var(--border-primary);
		transition: all 0.3s ease-out;

		&:nth-child(even) {
			background-color: rgba(255, 255, 255, 0.1);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: -1;
			transition: opacity 0.3s ease-in-out;
		}

		&:hover {
			background: rgba(129, 163, 214, 0.383);

			&::after {
				opacity: 1;
			}
		}
	}

	td, th {
		border-left: 1px solid var(--border-primary);
		padding: 0.5rem 0.5rem;
		vertical-align: middle;

		&:first-child {
			border-left: none;
		}

		textarea {
			height: auto;
		}
	}

}
.withCheck tbody tr td:first-child, .withCheck tbody tr th:first-child {
	padding: 11px;
}

.withCheck thead tr td:first-child {
	vertical-align: middle;
	width: 37px !important;
	padding: 0;
}


/* ===== Notification messages ===== */

.nNote {
	
}

	.nNote strong {
		//margin-right: 5px;
	}

	.nNote p {
		//font-size: 11px;
		//padding: 10px 25px 10px 54px;
		//margin: 0px;
		color: #565656;
	}


.nWarning {
	background: #ffe9ad url(../images/icons/notifications/error.png) no-repeat 15px center;
	border: 1px solid #eac572;
	color: #826200;
}

.nSuccess {
	//background: #effeb9 url(../images/icons/notifications/accept.png) no-repeat 15px center;
	border: 1px solid #c1d779;
	color: #3C5A01;
}

.nFailure {
	background: #fccac1 url(../images/icons/notifications/exclamation.png) no-repeat 15px center;
	border: 1px solid #e18b7c;
	color: #AC260F;
}

.nInformation {
	background: #deeefa url(../images/icons/notifications/information.png) no-repeat 15px center;
	border: 1px solid #afd3f2;
	color: #235685;
}

.nLightbulb {
	background: #FEF0CB url(../images/icons/notifications/lightbulb.html) no-repeat 15px center;
	border: 1px solid #D3A350;
	color: #835F21;
}

.nMessages {
	background: #9DDFFF url(../images/icons/notifications/email.html) no-repeat 15px center;
	border: 1px solid #42B4FF;
	color: #835F21;
}