<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <!-- request length is 20MB -->
    <httpRuntime maxRequestLength="20000"/>
    <sessionState timeout="20" />
  </system.web>
  <appSettings>
    <!-- This is a virtual path to crystalreportviewers directory, default to /cyrstalreportviewers11 -->
    <add key="path.dhtmlViewer" value="/crystalreportviewers12"/>
    <!-- This is the name of the CMS that you would like to connect to -->
    <add key="connection.cms" value=""/>
    <!-- "true" or "false" value governing whether drill down is permitted. -->
    <add key="viewrpt.drillDown" value=""/>
    <!-- "true" or "false" value determining whether a group tree will be generated. -->
    <add key="viewrpt.groupTreeGenerate" value=""/>
    <!-- "true" or "false" value determining whether a group tree will be hidden by default if one is generated -->
    <add key="viewrpt.groupTreeHide" value=""/>
    <!-- "true" or "false" value determining whether a refresh button will be shown. -->
    <add key="viewrpt.refresh" value=""/>
    <!-- "true" or "false" value determining whether a search button will be shown. -->
    <add key="viewrpt.search" value=""/>
    <!-- "true" or "false" value determining whether an export button will be shown. -->
    <add key="viewrpt.export" value=""/>
    <!-- "true" or "false" value determining whether a zoom button will be shown. -->
    <add key="viewrpt.zoom" value=""/>
    <!-- "true" or "false" value determining whether a print button will be shwon. -->
    <add key="viewrpt.print" value=""/>
    <!-- "true" or "false" value determining whether a product logo will be shown. -->
    <add key="viewrpt.logo" value=""/>
    <!-- "true" or "false" value determining whether a tool bar will be shown. -->
    <add key="viewrpt.toolbar" value=""/>
  </appSettings>
</configuration>
