.main-page-content {
  overflow-wrap: break-word;
  padding: 3rem 1rem 1rem;
  /* reduce the top margin of the interactive example heading */
}
.main-page-content h1 a:link,
.main-page-content h1 a:visited,
.main-page-content h2 a:link,
.main-page-content h2 a:visited,
.main-page-content h3 a:link,
.main-page-content h3 a:visited,
.main-page-content h4 a:link,
.main-page-content h4 a:visited,
.main-page-content h5 a:link,
.main-page-content h5 a:visited,
.main-page-content h6 a:link,
.main-page-content h6 a:visited {
  color: var(--text-primary);
  text-decoration: none;
}
.main-page-content h1 a:hover,
.main-page-content h1 a:focus,
.main-page-content h2 a:hover,
.main-page-content h2 a:focus,
.main-page-content h3 a:hover,
.main-page-content h3 a:focus,
.main-page-content h4 a:hover,
.main-page-content h4 a:focus,
.main-page-content h5 a:hover,
.main-page-content h5 a:focus,
.main-page-content h6 a:hover,
.main-page-content h6 a:focus {
  text-decoration: underline;
}
.main-page-content h1 a:active,
.main-page-content h2 a:active,
.main-page-content h3 a:active,
.main-page-content h4 a:active,
.main-page-content h5 a:active,
.main-page-content h6 a:active {
  background-color: transparent;
}
.main-page-content h1 a[href^="#"]::before,
.main-page-content h2 a[href^="#"]::before,
.main-page-content h3 a[href^="#"]::before,
.main-page-content h4 a[href^="#"]::before,
.main-page-content h5 a[href^="#"]::before,
.main-page-content h6 a[href^="#"]::before {
  color: var(--text-inactive);
  content: "#";
  display: inline-block;
  font-size: 0.7em;
  line-height: 1;
  margin-left: -0.8em;
  text-decoration: none;
  visibility: hidden;
  width: 0.8em;
}
.main-page-content h1 a[href^="#"]:hover::before,
.main-page-content h2 a[href^="#"]:hover::before,
.main-page-content h3 a[href^="#"]:hover::before,
.main-page-content h4 a[href^="#"]:hover::before,
.main-page-content h5 a[href^="#"]:hover::before,
.main-page-content h6 a[href^="#"]:hover::before {
  visibility: visible;
}
.main-page-content h1::after {
  text-decoration-color: var(--category-color);
}
.main-page-content section h2:first-of-type {
  margin-top: 2rem;
}
.main-page-content a:not(.button) {
  color: var(--text-link);
  width: fit-content;
}
.main-page-content a:not(.button):visited:not([href^="#"]) {
  color: var(--text-visited);
}
.main-page-content a:not(.button):active, .main-page-content a:not(.button):active:visited {
  background-color: var(--text-link);
  color: #fff;
}
.main-page-content a:not(.button):active code, .main-page-content a:not(.button):active:visited code {
  background-color: transparent;
  color: #fff;
}
.main-page-content a:not(.button)[aria-current] {
  color: var(--text-link);
  font-weight: var(--font-body-strong-weight);
  text-decoration: none;
}
.main-page-content img {
  /* In dark mode, required for images with black text on transparent background. */
  background: #fff;
  border: 1px solid var(--border-primary) !important;
  border-radius: var(--elem-radius);
  /* Required to prevent the border from scaling images, making them look blurry. */
  box-sizing: content-box;
  /* Required for alt texts. */
  color: #1b1b1b;
  display: inline-block;
  display: flex;
  height: auto;
  margin: 2rem auto;
}
.main-page-content ul,
.main-page-content ol {
  margin: 1rem 0 2rem;
  padding-left: 2rem;
}
.main-page-content ul li,
.main-page-content ol li {
  margin: 0.5rem 0;
}
.main-page-content ul {
  list-style: disc;
}
.main-page-content ul ul {
  list-style-type: circle;
  margin: 0;
  padding-left: 1rem;
}
.main-page-content ol {
  list-style: decimal;
}
.main-page-content ol ol {
  list-style: lower-roman;
  margin: 0;
}
.main-page-content dd ol,
.main-page-content dd ul {
  margin-bottom: 1rem;
  padding-left: 3rem;
}
.main-page-content td ul,
.main-page-content td ol {
  padding-left: 1rem;
}
.main-page-content dd li {
  margin-bottom: 1rem;
}
.main-page-content td li {
  margin-bottom: 0.5rem;
}
.main-page-content dl dt {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.main-page-content dl dt a[href^="#"] {
  color: inherit;
  position: relative;
  text-decoration: none;
}
.main-page-content dl dt a[href^="#"]:hover, .main-page-content dl dt a[href^="#"]:focus {
  text-decoration: underline;
}
.main-page-content dl dt a[href^="#"]::before {
  color: var(--text-inactive);
  content: "#";
  display: inline-flex;
  font-size: 0.7em;
  line-height: 1;
  margin-left: -0.8em;
  text-decoration: none;
  top: 0.5em;
  visibility: hidden;
  width: 0.8em;
}
.main-page-content dl dt a[href^="#"]:hover::before {
  visibility: visible;
}
.main-page-content dl dd {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.main-page-content dl dd .notecard p {
  padding-left: 0;
}
.main-page-content dl dd dl {
  /* Nested definition list. */
  border-left: 1px solid var(--border-primary);
  padding-left: 1rem;
}
.main-page-content dl p {
  margin: 0 0 1rem;
}
.main-page-content .section-content p {
  font: var(--type-article-p);
}
.main-page-content .section-content p:last-child {
  margin-bottom: 2rem;
}
.main-page-content .section-content figure {
  margin-bottom: 1rem;
}
.main-page-content .section-content .prev-next {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  text-align: center;
}
.main-page-content .section-content .prev-next li {
  display: flex;
  margin: 0;
}
.main-page-content .section-content .prev-next .button {
  margin: 0;
  max-width: inherit;
}
.main-page-content .section-content .prev-next .button-wrap {
  color: inherit;
}
.main-page-content .section-content blockquote > :last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 426px) {
  .main-page-content {
    padding: 3rem;
  }
}
@media screen and (min-width: 769px) {
  .main-page-content {
    margin-bottom: 0.5rem;
    padding: 0;
  }
}

b,
strong {
  font-weight: var(--font-body-strong-weight);
  letter-spacing: 0.02rem;
}

table {
  /* border: 1px solid var(--border-primary); */
  border-collapse: collapse;
  width: 100%;
}
table th {
  background: var(--background-tertiary);
  font-weight: var(--font-body-strong-weight);
  line-height: 1.5;
  text-align: left;
}
table td,
table th {
  /* border: 1px solid var(--border-primary); */
  padding: 0.5rem 0.75rem;
  vertical-align: middle;
}
table td .code-example pre {
  margin: 0;
}
table td ul {
  margin: 0;
}
table caption {
  font-weight: var(--font-body-strong-weight);
  margin: 1rem 0 0.5rem;
}
table.properties {
  border: none;
  font-size: var(--type-base-font-size);
}
table.properties th,
table.properties td {
  border: none;
}
table.properties th {
  background: none;
}
table.properties tr {
  border-bottom: 1px solid var(--border-secondary);
}
table.properties tr:first-child {
  border-top: 1px solid var(--border-primary);
}
table.properties tr:last-child {
  border-bottom: 1px solid var(--border-primary);
}
table.properties tr:nth-child(odd) th, table.properties tr:nth-child(odd) td, table.standard-table tr:nth-child(odd) th, table.standard-table tr:nth-child(odd) td {
  background-color: var(--background-secondary);
}

iframe {
  border: 1px solid var(--border-primary);
  max-width: 100%;
  width: 100%;
  /* "Live Samples" discussion here:
  https://github.com/mdn/yari-private/issues/370,
  These src attributes taken from unsafe-html.js */
}
iframe[src*="https://mdn.github.io"], iframe[src*="https://www.youtube-nocookie.com"], iframe[src*="https://jsfiddle.net"], iframe[src*="https://test262.report"], iframe.nobutton, iframe.sample-code-frame {
  background: #fff;
  border: 1px solid var(--border-primary);
  border-radius: var(--elem-radius);
  box-sizing: content-box;
  padding: 1rem;
  width: calc(100% - 2rem - 2px);
}

h1,
h2,
h3 {
  letter-spacing: var(--heading-letter-spacing);
}

h1 {
  font: var(--type-heading-h1);
  margin-bottom: 2rem;
  word-break: break-word;
}
@media screen and (min-width: 769px) {
  h1 {
    font: var(--type-heading-h1);
  }
}

h2 {
  font: var(--type-heading-h2);
  margin: 4rem 0 0.5rem;
}

h3 {
  font: var(--type-heading-h3);
  margin: 2rem 0 0.5rem;
}

/* When an h3 immediately follows an h2 we want to use
 * a smaller top margin. We also make accommodation
  for situations where there is an empty div
  between the two elements */
h2 ~ div ~ h3,
h2 ~ h3 {
  margin-top: 1rem;
}

h4 {
  font: var(--type-heading-h4);
  letter-spacing: 0.5px;
  margin: 2rem 0 1rem;
}

h5 {
  font: var(--type-heading-h5);
  letter-spacing: 1.5px;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}

h6 {
  font: var(--type-heading-h6);
  letter-spacing: 1.5px;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: inherit;
}

p {
  margin: 1rem 0 2rem;
}

blockquote {
  border-left: 4px solid var(--border-secondary);
  color: var(--text-secondary);
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}
blockquote p {
  margin: 0;
}

pre,
code,
.code-example {
  border-radius: var(--elem-radius);
  font-family: var(--font-code);
  font-size: var(--type-smaller-font-size);
}

code {
  background: var(--code-background-inline);
  padding: 0.125rem 0.25rem;
  width: fit-content;
}

pre {
  background-color: var(--code-background-block);
  border: 1px solid transparent;
  margin: 1rem 0 2rem;
  padding: 1rem 2.5rem 1rem 1rem;
}
pre code {
  background: none;
  color: var(--text-primary);
  padding: 0;
}

.example-good,
.example-bad {
  padding: 0 1rem;
  position: relative;
}
.example-good::before,
.example-bad::before {
  background-size: 24px;
  content: "";
  float: right;
  height: 16px;
  margin-left: 8px;
  width: 16px;
}

.example-bad + .copy-icon,
.example-good + .copy-icon {
  display: none;
}

.example-bad {
  background-color: var(--background-critical);
}
.example-bad::before {
  background-color: var(--icon-critical);
  mask-image: url("../assets/icons/no.svg");
}

.example-good {
  background-color: var(--background-success);
}
.example-good::before {
  background-color: var(--icon-success);
  mask-image: url("../assets/icons/checkmark.svg");
}

/*
 * multi-column layout on pages with an index such as
 * https://developer.mozilla.org/en-US/docs/Web/API#Specifications
*/
.index {
  margin-bottom: 1rem;
}
.index ul {
  margin: 0.5rem 0 2rem;
}
@media screen and (min-width: 1200px) {
  .index ul {
    columns: 3;
  }
}
.index ul li {
  margin: 0 0 0.5rem;
}
.index .icon-experimental,
.index .icon-nonstandard {
  color: var(--icon-information);
}
.index .icon-deprecated {
  color: var(--icon-critical);
}

.callout {
  background: var(--background-secondary);
  border: 1px solid var(--border-primary);
  border-radius: var(--elem-radius);
  box-shadow: var(--shadow-01);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  padding: 1rem;
  text-align: left;
}
.callout h4 {
  margin: 0;
}
.callout p {
  font: var(--type-smaller-font-size);
  margin: 0;
}

.code-example {
  --code-action-color: var(--text-secondary);
  margin-bottom: 2rem;
  position: relative;
}
.code-example .example-header {
  align-items: baseline;
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--border-secondary);
  border-top-left-radius: var(--elem-radius);
  border-top-right-radius: var(--elem-radius);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0.1rem 1rem;
}
.code-example .example-header.active {
  background-color: var(--background-toc-active);
}
.code-example .example-header ~ pre,
.code-example .example-header ~ iframe {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}
.code-example .example-header ~ pre:not(:last-child),
.code-example .example-header ~ iframe:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}
.code-example .example-header .ai-explain-info-toggle {
  --icon-size: 12px;
  background-color: var(--icon-secondary);
  cursor: pointer;
  mask-size: contain;
}
.code-example .example-header .ai-explain-info-toggle:hover, .code-example .example-header .ai-explain-info-toggle:focus {
  background-color: var(--icon-information);
}
.code-example .example-header .ai-explain-info {
  background: var(--background-information);
  font-size: smaller;
  margin-bottom: 0.5rem;
  order: 23;
  padding: 0.5rem;
  width: 100%;
}
.code-example .example-header .language-name {
  margin-right: auto;
  text-transform: uppercase;
}
.code-example .ai-explain-answer {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  font: var(--type-article-p);
}
.code-example .ai-explain-answer ~ .ai-explain-answer {
  border-top: none;
}
.code-example .ai-explain-answer > .ai-explain-header {
  background-color: var(--background-primary);
  border-bottom: 1px solid var(--border-secondary);
  margin: 0;
  padding-top: 1rem;
  width: 100%;
}
.code-example .ai-explain-answer > .ai-explain-header > span {
  padding: 0.25rem 1rem;
}
.code-example .ai-explain-answer > .ai-explain-header > pre {
  background-color: var(--background-primary);
  margin: 0;
  padding: 0.25rem 1rem;
}
.code-example .ai-explain-answer > div > p {
  margin: 0;
  padding: 0.5rem 1rem;
}
.code-example .ai-explain-answer .ai-explain-feedback {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: smaller;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 0.5rem;
}
.code-example .ai-explain-answer .ai-explain-feedback button {
  cursor: pointer;
}
.code-example .ai-explain-answer .ai-explain-feedback button.icon-thumbs-up:hover, .code-example .ai-explain-answer .ai-explain-feedback button.icon-thumbs-up:focus {
  background-color: var(--icon-success);
}
.code-example .ai-explain-answer .ai-explain-feedback button.icon-thumbs-down:hover, .code-example .ai-explain-answer .ai-explain-feedback button.icon-thumbs-down:focus {
  background-color: var(--icon-critical);
}
.code-example .play-button,
.code-example .ai-explain-button {
  color: var(--code-action-color);
  cursor: pointer;
  margin: 0;
  text-transform: capitalize;
}
.code-example .play-button:hover, .code-example .play-button:focus,
.code-example .ai-explain-button:hover,
.code-example .ai-explain-button:focus {
  opacity: 0.6;
}
.code-example .play-button:first-child,
.code-example .ai-explain-button:first-child {
  margin-left: auto;
}
.code-example .playlist {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.code-example .playlist > label {
  color: var(--code-action-color);
  cursor: pointer;
  padding: 1px;
  text-transform: capitalize;
}
.code-example .playlist > label:hover, .code-example .playlist > label:focus {
  opacity: 0.6;
}
.code-example .playlist > input {
  height: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}
.code-example .playlist > input ~ label::before {
  background-color: var(--code-action-color);
  content: "";
  display: inline-block;
  height: 1rem;
  margin-right: 4px;
  mask-image: url("../assets/icons/queue.svg");
  mask-size: cover;
  vertical-align: middle;
  width: 1rem;
}
.code-example .playlist > input:focus ~ label {
  opacity: 1;
}
.code-example .playlist > input:focus-visible ~ label {
  opacity: 1;
  outline-color: var(--accent-primary);
  outline-offset: 1px;
  outline-style: auto;
}
.code-example .playlist > input:checked ~ label {
  color: var(--category-color);
  opacity: 1;
}
.code-example .playlist > input:checked ~ label::before {
  mask-image: url("../assets/icons/queued.svg");
}
.code-example .playlist > input:checked ~ label:before {
  background-color: var(--category-color);
}
.code-example .ai-explain-button.ai-explain-highlight {
  animation: 1s ease-in 1 ai-explain-highlight-frames;
}
.code-example .play-button::before {
  background-color: var(--code-action-color);
  content: "";
  display: inline-block;
  height: 1rem;
  margin-right: 4px;
  mask-image: url("../assets/icons/play.svg");
  mask-size: cover;
  vertical-align: middle;
  width: 1rem;
}
.code-example .copy-icon {
  align-self: center;
  background-color: var(--code-action-color);
  cursor: pointer;
  height: 1rem;
  margin-top: -0.1rem;
  mask-image: url("../assets/clippy.svg");
  mask-size: cover;
  width: 1rem;
}
.code-example .copy-icon:hover, .code-example .copy-icon:focus {
  opacity: 0.6;
}
.code-example .copy-icon:first-child {
  margin-left: auto;
}
.code-example .copy-icon-message {
  background: var(--text-primary);
  border-radius: var(--elem-radius);
  color: var(--text-invert);
  font-size: 0.8125rem;
  opacity: 1;
  padding: 0.125rem;
  position: absolute;
  right: 0.25rem;
  top: 2rem;
}
.code-example .example-good,
.code-example .example-bad {
  padding: 1rem;
}

.only-in-en-us span {
  font-size: 0.8125rem;
}

a.page-not-created {
  cursor: not-allowed;
}
a.page-not-created:link, a.page-not-created:hover, a.page-not-created:visited, a.page-not-created:not([href]), a.page-not-created:focus {
  color: var(--icon-critical);
  text-decoration: underline wavy;
}

.badge {
  border: 1px solid var(--border-primary);
  border-radius: 4rem;
  color: var(--text-secondary);
  font-size: var(--type-tiny-font-size);
  padding: 0.125rem 0.375rem;
  white-space: nowrap;
}

kbd {
  border: 2px solid var(--border-secondary);
  border-radius: var(--elem-radius);
  box-shadow: var(--border-secondary);
  box-shadow: inset 0 -1px 0 0 var(--border-secondary);
  color: var(--text-secondary);
  font-size: 0.825rem;
  padding: 0.25rem;
}

.loading-error pre {
  overflow-y: scroll;
  white-space: pre;
}

.sidebar-container {
  --offset: var(--sticky-header-with-actions-height);
  --max-height: calc(100vh - var(--offset));
  max-height: var(--max-height);
  position: sticky;
  top: var(--offset);
  z-index: var(--z-index-sidebar-mobile);
}
@media screen and (min-width: 769px) and (min-height: 44rem) {
  .sidebar-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) {
  .sidebar-container {
    z-index: auto;
  }
  .sidebar-container .sidebar {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 0% calc(100% - 3rem), rgba(0, 0, 0, 0) 100%);
  }
}
@media screen and (min-width: 769px) and (not (min-height: 44rem)) {
  .sidebar-container {
    overflow: auto;
  }
}
.sidebar-container.toc-container .place,
.sidebar-container .toc-container .place {
  grid-area: toc;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .sidebar-container.toc-container,
  .sidebar-container .toc-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: calc(100vh - var(--offset));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 3rem calc(100% - 3rem), rgba(0, 0, 0, 0) 100%);
    overflow: auto;
    position: sticky;
    top: var(--offset);
  }
  .sidebar-container.toc-container .place,
  .sidebar-container .toc-container .place {
    margin: 1rem 0;
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .sidebar-container.toc-container .place,
  .sidebar-container .toc-container .place {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar-container {
    display: contents;
  }
  .sidebar-container .sidebar {
    mask-image: none;
  }
}

@keyframes ai-explain-highlight-frames {
  0% {
    color: var(--text-primary);
    opacity: 0.4;
  }
  50% {
    color: var(--category-color);
    opacity: 1;
  }
  100% {
    color: var(--text-primary);
    opacity: 0.4;
  }
}

/*# sourceMappingURL=main-page-content1.css.map */
