.document-page .main-content, .document-page .metadata, .document-page .page-header, .document-page .sidebar {
    display: flex;
}

.document-page .main-content, .document-page.sidebar {
    flex-direction: column;
    width: 100%;
}


.main-wrapper {
	/* overflow: hidden; */
	display: flex;
	margin: auto;
	max-width: var(--max-width);
	/* min-width: 0; */
}

/* Media Queries */
@media screen and (min-width: 769px) {
	.main-wrapper{
        display: grid;
        gap: 3rem;
        grid-template-areas: "sidebar main";
        grid-template-columns: minmax(0,1fr) minmax(0,2fr);
        padding-left: 1.5rem;
        padding-right: 3rem;
    }
    .main-wrapper .main-content, .main-wrapper .sidebar, .main-wrapper .toc {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

    .main-wrapper .main-content {
        grid-area: main;
    }
}

@media screen and (min-width: 1200px) {
    .main-wrapper {
        display: grid;
        gap: 3rem;
        grid-template-areas:
            "sidebar main tools";
        grid-template-columns: minmax(0,0.2fr) minmax(0,2.5fr) minmax(0,0.2fr);
        padding-left: 1rem;
        padding-right: 1rem;
        /* min-width: 0; */
    }
}