@use "../vars" as *;

.line {
	height: 1px;
	background: rgba(135, 135, 135, 0.278);
	//margin-top: 0rem;
	//margin-bottom: 2rem;
}

.widget-table {
	/*border: 1px solid var(--border-primary);*/
	-webkit-backdrop-filter: blur(100px);
	backdrop-filter: blur(100px);
	/* clear: both; */
	box-shadow: var(--widget-box-shadow);
	transition: all 0.3s ease-in-out;

    &.in-line {
        padding-top: 0.875rem;
        padding-bottom: 1rem;
    }

	&:hover {
		background: var(--widget-background-hover);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		border-radius: 15px;
		z-index: -1;
		box-shadow: var(--widget-box-shadow);
		transition: opacity 0.3s ease-in-out;
	}

	&:hover::after {
		opacity: 1;
	}

	.widget-header {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex: 1;
		margin-bottom: .5rem;

		.widget-title {
			margin-right: auto;
			width: max-content;
		}
	}

	.widget-button {
		//float: right;
		display: flex;
		flex-flow: row;
		gap: 2rem;

		a {
			color: var(--text-secondary);
			text-decoration: none;
			width: -moz-fit-content;
			width: fit-content;
		}
	}

	.widget-section {
		margin-top: 1rem;
	}

	.row-button {
		// for edit/delete items button
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		.button-wrap {
			border-radius: 15px;
			box-shadow: var(--widget-box-shadow);
			padding: 0.5rem;
			transition: all 0.3s ease-in-out;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				border-radius: 15px;
				z-index: -1;
				box-shadow: var(--widget-box-shadow);
				transition: opacity 0.3s ease-in-out;
			}

			&:hover {
				background: var(--widget-background-hover);
				color: var(--category-color);

				&::after {
					opacity: 1;
				}
			}
		}
	}

	h3 {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-weight: 600;
	}

	details {
		padding: 0.5rem;

		&>summary {
			//font: rem;
			font-weight: bold;
			cursor: pointer;

			&::-webkit-details-marker {
				display: none;
			}
		}
	}

	.widget-footer {
		margin-top: 1rem;

		.widget-footer-button {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			gap: 2rem;

			.button-wrap {
				border-radius: 15px;
				box-shadow: var(--widget-box-shadow);
				padding: 0.5rem 1.5rem;
				transition: all 0.3s ease-in-out;

				&::after:not(:disabled) {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					border-radius: 15px;
					z-index: -1;
					box-shadow: var(--widget-box-shadow);
					transition: opacity 0.3s ease-in-out;
				}

				&:hover:not(:disabled) {
					background: var(--widget-background-hover);
					//color: var(--category-color);

					&::after:not(:disabled) {
						opacity: 1;
					}
				}
			}
		}
	}
}

/* Tables
================================================== */

/* ===== Static table ===== */

.sTable {
	margin-top: 1rem;

	.item-name {
		font-size: calc(100% + 3px);
	}

	tbody tr {
		border-top: 1px solid var(--border-primary);
		transition: all 0.3s ease-out;

		&:nth-child(even) {
			background-color: rgba(255, 255, 255, 0.1);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: -1;
			transition: opacity 0.3s ease-in-out;
		}

		&:hover {
			background: rgba(129, 163, 214, 0.383);

			&::after {
				opacity: 1;
			}
		}
	}

	td,
	th {
		border-left: 1px solid var(--border-primary);
		padding: 0.5rem 0.5rem;
		vertical-align: middle;

		&:first-child {
			border-left: none;
		}

		textarea {
			height: auto;
		}
	}
}
