@use "../../vars" as *;

.top-navigation {
	background: var(--header-background-primary);
	//border-bottom: 1px solid var(--border-primary);
	//-webkit-backdrop-filter: blur(10px);
	//backdrop-filter: blur(10px);
	position: relative;
	width: 100%;
	transition: all 0.3s ease-in-out;

	&.is-transparent {
		background-color: transparent;
	}

	.top-navigation-wrap {
		align-items: center;
		display: flex;
		flex: 1 1;
		height: var(--top-nav-height);
		justify-content: space-between;
	}

	&.show-nav {
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	}
}

/* Media Queries */

@media screen and (min-width: 992px) {
	.top-navigation .main-menu-toggle {
		display: none;
	}

	.top-navigation .top-navigation-wrap {
		flex: 0;
	}
}
