@use "./vars" as *;
@use "./mixin";

@use "./jquery-ui.css";
//@use "./ui_custom.css";

@use "./base/themes";
@use "./icon/icon";
@use "./logo/logo";
@use "./header/header";
@use "./search/search";
@use "./cleditor/cleditor";
@use "./dialog/dialog";
@use "./dialog/modal";
@use "./theme-switcher/theme-switcher";
@use "./button/button";
@use "./grid/main-wrapper";
@use "./form/form";
@use "./table/widget-table";
@use "./table/dataTable";
@use "./footer/footer";

@use "fullcalendar.css";
@use "prettyPhoto.css";
@use "elfinder.css";

/* Table of Content
==================================================
	# Basic styles
	# Top navigation
	# Left navigation & widgets
	# Common styles
	# Content
	# Statistic row
	# Gallery
	# Buttons
	# Content widgets
	# Progress bars
	# Tables
    # Pagination
	# Form styles
	# Footer
	# Other plugin styles*/

:root {
	/*Typography*/
	--font-fallback: BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

	--font-body: Inter, var(--font-fallback);
	--font-heading: Inter, var(--font-fallback);
	--font-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;

	--base-font-size: 100%;
	--base-line-height: 1.2;
	--intermediate-line-height: 1.5;
	--heading-line-height: var(--base-line-height);
	--heading-letter-spacing: -0.031rem;
	--font-content-line-height: 1.75;
	--font-body-strong-weight: 600;

	/* based on the following type-scale https://type-scale.com/?size=16&scale=1.200&text=MDN%20Web%20Docs&font=Inter&fontweight=400&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false */
	--type-heading-h1-font-size: 2.986rem;
	--type-heading-h2-font-size: 2.488rem;
	--type-heading-h3-font-size: 2.074rem;
	--type-heading-h4-font-size: 1.728rem;
	--type-heading-h5-font-size: 1.44rem;
	--type-base-font-size-rem: 1rem;
	--type-smaller-font-size: 0.833rem;
	--type-tiny-font-size: 0.694rem;

	/* based on the following type-scale https://type-scale.com/?size=16&scale=1.125&text=MDN%20Web%20Docs&font=Inter&fontweight=400&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false */
	--type-heading-h1-font-size-mobile: 1.802rem;
	--type-heading-h2-font-size-mobile: 1.602rem;
	--type-heading-h3-font-size-mobile: 1.424rem;
	--type-heading-h4-font-size-mobile: 1.266rem;

	--type-emphasis-m: var(--font-body-strong-weight) var(--type-smaller-font-size) / 1.23 var(--font-body);
	--type-label-s: 600 var(--type-tiny-font-size) / 1.2 var(--font-heading);

	--type-heading-h1: 600 var(--type-heading-h1-font-size) / var(--heading-line-height) var(--font-heading);
	--type-heading-h2: 500 var(--type-heading-h2-font-size) / var(--heading-line-height) var(--font-heading);
	--type-heading-h3: 300 var(--type-heading-h3-font-size) / var(--heading-line-height) var(--font-heading);
	--type-heading-h4: 400 var(--type-heading-h4-font-size) / var(--heading-line-height) var(--font-heading);
	--type-heading-h5: 400 var(--type-heading-h5-font-size) / var(--heading-line-height) var(--font-heading);
	--type-heading-h6: 400 var(--type-base-font-size-rem) / var(--heading-line-height) var(--font-heading);
	--type-article-p: 400 var(--type-base-font-size-rem) / var(--font-content-line-height) var(--font-body);

	/* Grid and Layout */
	--max-width: 1440px;
	--gutter: 7rem;
	/* Space between content and browser window */
	--top-navigation-height: 4rem;
	--top-navigation-offset: -4rem;
	--top-banner-inner-height: 3.125rem;
	/*top-banner-inner-height + 2 * padding;*/
	--top-banner-height: calc(var(--top-banner-inner-height) + 2 * 0.125rem);
	/* + border*/
	--top-banner-outer-height: calc(var(--top-banner-height) + 2 * 1px);

	/* Z-Indexes
     Keep this in order, and avoid reusing variables so elements each
     exist on a distinct layer - we hit a lot of bugs if they don't */
	--z-index-a11y: 10000;
	--z-index-modal-content: 801;
	--z-index-modal-overlay: 800;
	--z-index-main-header: 45;
	--z-index-sidebar-mobile: 600;
	--z-index-mid: 500;
	--z-index-nav-menu: 200;
	--z-index-search-results: 101;
	--z-index-low: 100;
	--z-index-search-results-home: 99;
	--z-index-back: -1;

	/* Features */
	--elem-radius: 0.25rem;
	--focus-effect: 0 0 0 3px var(--accent-primary-engage);
	--form-elem-height: 2rem;

	/* Major Components */
	--top-nav-height: 2rem;
	--article-actions-container-height: 2rem;
	--icon-size: 1rem;
	--sticky-header-without-actions-height: calc(var(--top-nav-height) + 1px);
	--sticky-header-with-actions-height: calc(var(--sticky-header-without-actions-height) + var(--article-actions-container-height) + 1px);

	font-size: 14px;
}

@media screen and (min-width: $screen-md) {
	:root {
		--type-heading-h1: 600 var(--type-heading-h1-font-size) / var(--heading-line-height) var(--font-heading);
		--type-heading-h2: 500 var(--type-heading-h2-font-size) / var(--heading-line-height) var(--font-heading);
		--type-heading-h3: 300 var(--type-heading-h3-font-size) / var(--heading-line-height) var(--font-heading);
		--type-heading-h4: 400 var(--type-heading-h4-font-size) / var(--heading-line-height) var(--font-heading);
	}
}

/*==================================================*/
/* #Switcher
================================================== */

.switcher {
	position: fixed;
	right: 0;
	top: 100px;
	background: url(../images/switcher/bg.png) no-repeat;
	width: 14px;
	height: 206px;
	z-index: 10000;
	padding: 6px 5px 0 5px;
}

.switcher a img {
	margin-bottom: 6px;
}

/* #Basic Styles
================================================== */

/* Wrappers */
html,
body {
	scroll-behavior: smooth;
}

body {
	color: var(--text-primary);
	accent-color: var(--accent-primary);
	//background-color: var(--background-primary);
	//background: rgb(34,195,194);
	background: var(--background-primary);
	//background-image: var(--background-img);
	-webkit-scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg);
	scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg);
	display: flex;
	flex-direction: column;

	&.noscroll {
		overflow: hidden;
		height: 100%;
	}
}

:focus-visible {
	outline-color: var(--accent-primary);
	outline-offset: 1px;
	outline-style: auto;
}

main {
	display: flow-root;
	min-height: 80vh;
}

.about-container a:link,
.main-page-content a:visited {
	text-decoration: underline;
}

.about-container a:hover,
.main-page-content a:focus {
	text-decoration: none;
}

.visually-hidden {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: 1px !important;
}

.hidden {
	display: none;
}

.inline-block {
	display: inline-block;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

a {
	color: var(--text-link);
}

button.button[disabled],
input[disabled] {
	cursor: not-allowed;
}

.expand-this-link:after {
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

u {
	text-decoration-color: var(--text-link);
	text-decoration-thickness: 0.15rem;
	text-underline-offset: 0.1em;
}

.sticky-header-container {
	position: sticky;
	top: 0;
	z-index: var(--z-index-main-header);
	//box-shadow: var(--shadow-02);
}

.contentWrapper {
	position: relative;
	margin: 0 3%;
	float: right;
	width: 94%;
}

.chart,
.bars,
.updating,
.pie {
	height: 250px;
	z-index: 90;
	max-width: 100%;
}

.chartWrapper {
	overflow: hidden;
}

/* Content
================================================== */

.hero {
	background: linear-gradient(135deg, #004b8d, #006fc2);
	color: #fff;
	padding: 5rem 2rem;
	text-align: center;
	border-radius: 0 0 30px 30px;

	h1 {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	p {
		font-size: 1.2rem;
		max-width: 700px;
		margin: 0 auto;
	}
}

.features {
	&.welcome-page {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 2rem;
		padding: 4rem 2rem;
		//background-color: var(--background-primary);
	}
}

.feature {
	background: var(--widget-background-primary);
	padding: 2rem;
	border-radius: 16px;
	box-shadow: var(--widget-box-shadow);
	transition: transform 0.3s, background-color 0.3s;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	display: block;

	&:hover {
		transform: translateY(-10px);
		background: var(--widget-background-hover);
		;
	}

	h3 {
		margin-bottom: 1rem;
		color: var(--text-link);
	}
}

.fade-in-up {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-up.show {
	opacity: 1;
	transform: translateY(0);
}

//* Loading overlay
.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-overlay {
	text-align: center;
}

.spinner {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin: 0 auto 15px auto;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

// Flash message
#js-flash-container {
	position: fixed;
	top: 3rem;
	right: 2rem;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: flex-end;
}

.flash-message {
	width: 500px;
	margin: 0;
	opacity: 0;
	padding: 1rem 2rem;
	text-align: left;
	transition:
		opacity 0.4s ease,
		transform 0.4s ease,
		margin 0.4s ease,
		max-height 0.4s ease,
		padding 0.4s ease;
	max-height: 200px;
	transform: translateY(-10px);

	&.show {
		opacity: 1;
		transform: translateY(0);
	}

	&.hide {
		opacity: 0;
		transform: translateY(-10px);
		margin: 0;
		padding: 0;
		max-height: 0;
	}

	&.success {
		background-color: #e6f4ea;
		color: #256029;
		border-left: 6px solid #2e7d32;
	}

	&.error {
		background-color: #fcebea;
		color: #a94442;
		border-left: 6px solid #c0392b;
	}
}

/* Main content*/
.pageTitle {
	.section-content {
		p {
			font: var(--type-article-p);

			&:last-child {
				margin-bottom: 2rem;
			}
		}
	}
}

p {
	margin: 1rem 0 2rem;
}


.tag-sent {
	color: #fff;
	background: #4caf50;
	padding: 2px 6px;
	border-radius: 4px;
	font-size: 0.75em;
	margin-left: 6px;
}



/* Media queries */
@media screen and (min-width: 769px) {
	:root {
		--type-heading-h1: 600 var(--type-heading-h1-font-size) / var(--heading-line-height) var(--font-heading);
		--type-heading-h2: 500 var(--type-heading-h2-font-size) / var(--heading-line-height) var(--font-heading);
		--type-heading-h3: 300 var(--type-heading-h3-font-size) / var(--heading-line-height) var(--font-heading);
		--type-heading-h4: 400 var(--type-heading-h4-font-size) / var(--heading-line-height) var(--font-heading);
	}

	body.mobile-overlay-active {
		overflow: hidden;
	}

	h1 {
		font: var(--type-heading-h1);
	}
}

/* Highlight animation */
@keyframes flashHighlight {
	0% {
		background-color: #c4e4ff84;
	}

	100% {
		background-color: transparent;
	}
}

.highlighted {
	animation: flashHighlight 1.5s ease-out;
}
